

<div class="row">
    <h1>Add a New Profile</h1>

    <%= form_for(@profile) do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :website_id %>
        <%= f.collection_select(:website_id, Website.all, :id, :name, {}, {:class=>'form-control'})  %>
      </div>

      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :wpt_settings %>
        <%= f.text_field :wpt_settings , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :wpt_code %>
        <%= f.text_field :wpt_code , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :interval %>
        <%= f.text_field :interval , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Add New Profile", class: "btn btn-primary" %>
      </div>

    <% end %>
</div>
