<h1>Add a New Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@profile) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :website_id %>
      <%= f.collection_select(:website_id, Website.all, :id, :name) %>

      <%= f.label :wpt_settings %>
      <%= f.text_field :wpt_settings %>

      <%= f.label :wpt_code %>
      <%= f.text_field :wpt_code %>

      <%= f.label :interval %>
      <%= f.text_field :interval %>

      <%= f.label :api_key %>
      <%= f.text_field :api_key %>

      <%= f.submit "Add New Profile", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
