<h1>Website: <%= @profile.name %></h1>

<ul>
  <li><%= @profile.id %></li>
  <li><%= @profile.name %></li>
  <li><%= @profile.website_id %></li>
  <li><%= @profile.wpt_settings %></li>
  <li><%= @profile.wpt_code %></li>
  <li><%= @profile.interval %></li>
  <li><%= @profile.api_key %></li>
</ul>
