<div class="row">
  <div class="col-md-10"><h1>Website: <%= @profile.name %></h1></div>
  <div class="col-md-2 text-right"><%= link_to "Add New Profile", new_profile_path, class: "btn btn-default" %></div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @profile.id %></td>
    <tr>
      <td>Name</td>
      <td><%= @profile.name %></td>
    <tr>
      <td>Website</td>
      <% website = Website.find(@profile.website_id) %>
      <td><%= link_to website.name, website_path(website.id) %></td>
    <tr>
      <td>WPT Settings</td>
      <td><%= @profile.wpt_settings %></td>
    <tr>
      <td>WPT Code</td>
      <td><%= @profile.wpt_code %></td>
    <tr>
      <td>Time Interval</td>
      <td><%= @profile.interval %></td>
    <tr>
      <td>API Key</td>
      <td><%= @profile.api_key %></td>
  </tbody>
</table>
