<div class="row">
  <div class="col-md-10"><h1>Reports</h1></div>
  <div class="col-md-2 text-right"><%= link_to "Add New Report", new_report_path, class: "btn btn-default" %></div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Website</th>
      <th>Profile</th>
      <th>WPT ID</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
        <% website = Website.find(report.website_id) %>
        <% profile = Profile.find(report.profile_id) %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.status %></td>
        <td><%= link_to website.name, website_path(website.id) %></td>
        <td><%= link_to profile.name, profile_path(profile.id) %></td>
        <td><%= link_to report.wpt_id, wpt_test_url(report), :target => "_blank" %></td>
        <td><%= link_to "view", report_path(report.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
