<div class="row">
  <div class="col-md-10"><h1>Reports</h1></div>
  <div class="col-md-2 text-right"><%= link_to "Add New Report", new_report_path, class: "btn btn-default" %></div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
        <th>Status</th>
        <th>ID</th>
        <th>Website</th>
        <th>Profile</th>
        <th>WPT ID</th>
        <th>JSON Data</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
        <% website = Website.find(report.website_id) %>
        <% profile = Website.find(report.profile_id) %>
      <tr>
        <td><%= report.status %></td>
        <td><%= status_name(report.status) %></td>
        <td><%= report.id %></td>
        <td><%= link_to website.name, website_path(website.id) %></td>
        <td><%= link_to profile.name, profile_path(profile.id) %></td>
        <td><%= link_to report.wpt_id, "http://www.webpagetest.org/results.php?test="+report.wpt_id, :target => "_blank" %></td>
        <td><%= report.data %></td>
      </tr>
    <% end %>
  </tbody>
</table>
