<div class="row">
  <div class="col-md-10"><h1>Report: <%= @report.wpt_id %></h1></div>
  <div class="col-md-2 text-right"><%= link_to "Add New Report", new_report_path, class: "btn btn-default" %></div>
</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Status</td>
      <td><%= status_name(@report.status) %></td>
    </tr>
    <tr>
      <td>ID</td>
      <td><%= @report.id %></td>
    </tr>
    <tr>
      <td>Website</td>
        <% website = Website.find(@report.website_id) %>
      <td><%= link_to website.name, website_path(website.id) %></td>
    </tr>
    <tr>
      <td>Profile</td>
        <% profile = Website.find(@report.profile_id) %>
      <td><%= link_to profile.name, profile_path(profile.id) %></td>
    </tr>
    <tr>
      <td>WPT ID</td>
      <td><%= link_to @report.wpt_id, "http://www.webpagetest.org/results.php?test="+@report.wpt_id, :target => "_blank" %></td>
    </tr>

  </tbody>
</table>
</div>
<div class="row">
  <h2>JSON Data</h2>
  <code><%= @report.data %></code>
</div>
