<div class="row">
  <div class="col-md-10"><h1>Report: <%= @report.wpt_id %></h1></div>
  <div class="col-md-2 text-right"><%= link_to "Add New Report", new_report_path, class: "btn btn-default" %></div>
</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @report.id %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><%= @report.status %></td>
    </tr>
    <tr>
      <td>Website</td>
        <% website = Website.find(@report.website_id) %>
      <td><%= link_to website.name, website_path(website.id) %></td>
    </tr>
    <tr>
      <td>Profile</td>
        <% profile = Profile.find(@report.profile_id) %>
      <td><%= link_to profile.name, profile_path(profile.id) %></td>
    </tr>
    <tr>
      <td>WPT ID</td>
      <td><%= @report.wpt_id %></td>
    </tr>

  </tbody>
</table>
</div>
<% if !@report.data.nil? %>
  <% json_data = JSON.parse(@report.data) %>
  <div class="row">
    <h2> Results Overview</h2>
    <table class="table table-hover">
      <thead>
        <tr>
            <th>View</th>
            <th>loadTime</th>
            <th>TTFB</th>
            <th>bytesOut</th>
            <th>bytesOutDoc</th>
            <th>bytesIn</th>
            <th>bytesInDoc</th>
            <th>connections</th>
            <th>requestsFull</th>
            <th>requestsDoc</th>
            <th>render</th>
            <th>fullyLoaded</th>
            <th>domElements</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>firstView</td>
          <td><%= json_data['data']['runs']["1"]['firstView']['loadTime'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['TTFB'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['bytesOut'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['bytesOutDoc'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['bytesIn'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['bytesInDoc'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['connections'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['requestsFull'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['requestsDoc'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['render'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['fullyLoaded'] %></td>
          <td><%= json_data['data']['runs']["1"]['firstView']['domElements'] %></td>
        </tr>
        <tr>
          <td>repeatView</td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['loadTime'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['TTFB'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['bytesOut'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['bytesOutDoc'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['bytesIn'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['bytesInDoc'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['connections'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['requestsFull'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['requestsDoc'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['render'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['fullyLoaded'] %></td>
          <td><%= json_data['data']['runs']["1"]['repeatView']['domElements'] %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<div class="row">
  <h2>INIT Pramas</h2>
  <pre><%= wpt_params(@report) %></pre>
</div>
<div class="row">
  <h2>INIT Request Results</h2>
  <pre><%= wpt_init_request(@report) %></pre>
</div>

<div class="row">
  <h2>JSON Data</h2>
  <p><a href="http://www.webpagetest.org/results.php?f=json&amp;test=<%= @report.wpt_id %>" target="_blank">http://www.webpagetest.org/results.php?f=json&amp;test=<%= @report.wpt_id %></a></p>
  <pre><%= @report.data %></pre>
</div>
