<div class="row">
  <div class="col-md-10"><h1>Report: <%= @report.wpt_id %></h1></div>
  <div class="col-md-2 text-right">
    <%= link_to "Add New Report", new_report_path, class: "btn btn-default" %>
  </div>
</div>
<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @report.id %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><%= @report.status %></td>
    </tr>
    <tr>
      <td>Status_code</td>
      <td><%= @report.status_code %></td>
    </tr>
    <tr>
      <td>Website</td>
      <td><%= link_to @report.website.name, website_path(@report.website.id) %></td>
    </tr>
    <tr>
      <td>Profile</td>
      <td><%= link_to @report.profile.name, profile_path(@report.profile.id) %></td>
    </tr>
    <tr>
      <td>WPT ID</td>
      <td><%= @report.wpt_id %></td>
    </tr>
    <tr>
      <td>WPT Test Init</td>
      <td>http://www.webpagetest.org/runtest.php?f=json&amp;test=<%= @report.profile.url %>&amp;test=<%=Rails.application.secrets.webpagetest_key%></td>
    </tr>
    <tr>
      <td>WPT Test Status</td>
      <td>http://www.webpagetest.org/testStatus.php?f=json&amp;test=<%= @report.wpt_id %></td>
    </tr>
    <tr>
      <td>WPT JSON Respose</td>
      <td>http://www.webpagetest.org/results.php?f=json&amp;test=<%= @report.wpt_id %></td>
    </tr>
    <tr>
      <td>Stored JSON Respose</td>
      <td><%= link_to 'View Raw JSON Data', report_json_path %></td>
    </tr>

  </tbody>
</table>
</div>
<div class="row">
  <h2>Test Code</h2>
</div>
<% rjd = report_json_data(@report.data) %>
<% if !rjd.nil? %>
  <div class="row">
    <h2> Results Overview</h2>
    <table class="table table-hover">
      <thead>
        <tr>
            <th>View</th>
            <th>loadTime</th>
            <th>TTFB</th>
            <th>bytesOut</th>
            <th>bytesOutDoc</th>
            <th>bytesIn</th>
            <th>bytesInDoc</th>
            <th>connections</th>
            <th>requestsFull</th>
            <th>requestsDoc</th>
            <th>render</th>
            <th>fullyLoaded</th>
            <th>domElements</th>
        </tr>
      </thead>

      <tbody>
        <% runs = rjd['data']['runs']%>

        <% runs.each do |run| %>

          <%views = rjd['data']['runs'][run[0]]%>
          <% views.each do |view| %>
            <tr>
              <td><%= run[0] %></td>
              <td><%= view[0] %></td>
              <td><%= view[1]['loadTime'] %></td>
              <td><%= view[1]['TTFB'] %></td>
              <td><%= view[1]['bytesOut'] %></td>
              <td><%= view[1]['bytesOutDoc'] %></td>
              <td><%= view[1]['bytesIn'] %></td>
              <td><%= view[1]['bytesInDoc'] %></td>
              <td><%= view[1]['connections'] %></td>
              <td><%= view[1]['requestsFull'] %></td>
              <td><%= view[1]['requestsDoc'] %></td>
              <td><%= view[1]['render'] %></td>
              <td><%= view[1]['fullyLoaded'] %></td>
              <td><%= view[1]['domElements'] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
